:root {
  --color-green: #adff2f;
  --color-blue: #87cefa;
}

h1 {
  background: var(--color-green);

  b {
    background: var(--color-blue);

    @media (max-width: 700px) {
      color: red;
    }
  }
}

h2 {
  background: var(--color-blue);
}

.flex {
  display: flex;
}