<% include src/layout/partial/_layout %>

<h1>Homepage</h1>

<% color = 'red' %>
<% include src/layout/partial/_sampleColorizedBox %>

<% color = 'blue' %>
<% include src/layout/partial/_sampleColorizedBox %>

<% color = 'green' %>
<% include src/layout/partial/_sampleColorizedBox %>